{% extends 'base-db-volunteer.html' %}
{% load static %}
{% block main %}
<div class="container mt-5 vh-100 table-responsive">
    <h3 class="fw-bold mb-3">My Profile</h3>
    <hr>
    <div class="row">
        <div class="col-sm-6 p-2">
            <div class="form-group">
                <label for="firstname">First Name</label>
                <input type="text" id="firstname" name="firstname" placeholder="Enter First Name" class="form-control" pattern="[A-Za-z]+" value="{{volunteer.user.first_name}}">
            </div>
        </div>
        <div class="col-sm-6 p-2">
            <div class="form-group">
                <label for="lastname">Last Name</label>
                <input type="text" id="lastname" name="lastname" placeholder="Enter Last Name" class="form-control" pattern="[A-Za-z]+" value="{{volunteer.user.last_name}}">
            </div>
        </div>

        <div class="col-sm-6 p-2">
            <div class="form-group">
                <label for="email">Email ID</label>
                <input type="email" id="email" name="email" readonly placeholder="Email Address" required class="form-control" value="{{volunteer.user.username}}">
            </div>
        </div>

        <div class="col-sm-6 p-2">
            <div class="form-group">
                <label for="contact">Contact</label>
                <input type="text" id="contact" name="contact" placeholder="Contact Number" required class="form-control" value="{{volunteer.contact}}">
            </div>
        </div>

        <div class="col-sm-6 p-2">
            <div class="form-group">
                <label for="userpic">User PIC</label>
                <input type="file" id="userpic" name="userpic" class="form-control">
            </div>
        </div>

        <div class="col-sm-6 p-2">
            <div class="form-group">
                <img src="{% static 'images/avtar1.jpg' %}" width="100" height="100" class="img-fluid rounded-circle">
            </div>
        </div>

        <div class="col-sm-6 p-2">
            <div class="form-group">
                <img src="{% static 'images/avtar3.png' %}" width="100" height="100" class="img-fluid rounded-circle">
            </div>
        </div>

        <div class="col-sm-6 p-2">
            <div class="form-group">
                <label for="idpic">ID Proof PIC(Aadhar ID , Voter ID , Pan Card etc.)</label>
                <input type="file" id="idpic" name="idpic" class="form-control">
            </div>
        </div>

        <div class="col-sm-12 p-2">
            <div class="form-group">
                <label for="address">Address</label>
                <textarea id="address" name="address" class="form-control" placeholder="Full Address">{{volunteer.address}}</textarea>
            </div>
        </div>

        <div class="col-sm-12 p-2">
            <div class="form-group">
                <label for="aboutme">About Yourself</label>
                <textarea id="aboutme" name="aboutme" class="form-control" placeholder="About Yourself">{{volunteer.aboutme}}</textarea>
            </div>
        </div>

        <div class="col-sm-12 p-2 text-center">
            <input type="submit" value="Submit" class="m-2 px-3 btn btn-primary">
        </div>
    </div>
</div>
{% endblock main %}